:root {
  --theme-accent: #0d5c5a;
  --color-accent: #0d5c5a;
  /* Color Shades */
  --color-base-0: #ffffff;
  --color-base-50: #f3f3f3;
  --color-base-100: #e8e7e6;
  --color-base-150: #dcdbda;
  --color-base-200: #d1d0ce;
  --color-base-250: #c5c4c2;
  --color-base-300: #b9b8b5;
  --color-base-350: #aeaca9;
  --color-base-400: #a2a09d;
  --color-base-450: #979491;
  --color-base-500: #54504a;
  --color-base-550: #4e4a45;
  --color-base-600: #484540;
  --color-base-650: #423f3a;
  --color-base-700: #3c3935;
  --color-base-750: #363430;
  --color-base-800: #302e2a;
  --color-base-850: #2a2825;
  --color-base-900: #242220;
  --color-base-950: #1e1d1b;
  --color-trinidad-50: #fef6ee;
  --color-trinidad-100: #feebd6;
  --color-trinidad-200: #fcd3ac;
  --color-trinidad-300: #f9b378;
  --color-trinidad-400: #f68941;
  --color-trinidad-500: #f2681d;
  --color-trinidad-600: #df4d12;
  --color-trinidad-700: #bd3a11;
  --color-trinidad-800: #962f16;
  --color-trinidad-900: #792915;
  --color-trinidad-950: #411209;
  --color-destructive: #ff0000;
  --color-yellow-orange-50: #fff7eb;
  --color-yellow-orange-100: #fee9c7;
  --color-yellow-orange-200: #fed289;
  --color-yellow-orange-300: #fdac39;
  --color-yellow-orange-400: #fc9923;
  --color-yellow-orange-500: #f77409;
  --color-yellow-orange-600: #da5105;
  --color-yellow-orange-700: #b53408;
  --color-yellow-orange-800: #93280d;
  --color-yellow-orange-900: #79220e;
  --color-yellow-orange-950: #450e03;
  --color-yellow-orange: var(--color-yellow-orange-300);
  --color-everglade-50: #effaf5;
  --color-everglade-100: #d8f3e5;
  --color-everglade-200: #b5e5ce;
  --color-everglade-300: #84d1b1;
  --color-everglade-400: #51b690;
  --color-everglade-500: #2f9a75;
  --color-everglade-600: #1f7c5e;
  --color-everglade-700: #19634d;
  --color-everglade-800: #164f3e;
  --color-everglade-900: #123d31;
  --color-everglade-950: #0a241d;
  --color-everglade: var(--color-everglade-900);
  --color-light-green: #e9f3ef;
  --color-gray: #626262;
  --color-black: #1c1e1d;
  --color-white: #f5f5f5;
}

html {
  font-size: 16px;
}
/* Nav */
.nav {
  font-weight: 500;
  .nav__link {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.step-nav__home {
  width: 32px;
  height: 32px;
}

label.field-label {
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  font-weight: 600;
}

.doc-header__title,
.list-header__title {
  font-weight: 600;
}

.table td {
  vertical-align: middle;
}

td.cell-image {
  width: 150px;
}

.nav-group__label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.025rem;
}

.btn.btn--style-primary {
  background-color: var(--color-yellow-orange);
  color: var(--color-black);
  &.btn--disabled {
    opacity: 0.5;
  }
}

.rs__group-heading {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.025rem;
  font-weight: 500;
  color: var(--color-everglade);
}
